# See https://github.com/silinternational/traefik-https-proxy for documentation on these variables

DNS_PROVIDER=cloudflare
CF_API_KEY=0123456789abcdef0123456789abcdef01245
CF_API_EMAIL=user@example.com
LETS_ENCRYPT_EMAIL=user@example.com
LETS_ENCRYPT_CA=production
TLD=example.com
SANS=keygo.example.com
BACKEND1_URL=http://app:1323
FRONTEND1_DOMAIN=keygo.example.com
